*{
  margin: 0px;
  padding: 0px;
}

#main-body{
  margin: 0 1%;
}
body {
  background-color: white;
}

a{
  text-decoration: none;
}

#header {
  background-color: white;
  padding-top: 2px;
  position: fixed;
  width: 100%;
  top: 1%;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0px 0px;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}
.right {
  float: right;
}

.left {
  float: left;
}

.col-1 {
  width: 60%;
}
.col-2 {
  width: 38%;
}
.logo {
  width: 20%;
}
.logo img {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}
.search {
  width: 75%;
  margin-left: 2%;
}

.search input[type="text"]{
    width: 100%;
    background-color: transparent;
    border-color: rgb(207, 207, 231);
    height: 35px;
    background-image:url("https://cdn-icons-png.flaticon.com/128/6065/6065445.png" );
    background-size: contain;
    padding-left: 8%;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 15px;
    background-position-x: 1%;
}
img{
    width: 100%;
}
ul {
  list-style: none;
}

.col-2 > ul > li {
  display: inline-block;
  width: 15%;
  padding: 20px 5px;
  font-weight: 400;
  font: 1em sans-serif;
  position: relative;
}
.col-2 > ul > li > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#section-1 {
  background-color: white;
  margin-top: 6%;
  padding: 1%;
}
#section-1 .product{
  display: inline-block;
  width: 9.5%;
  text-align: center;
  margin-left: 9.5px;
}

#section-1 .product img{
  height: 60%;
  width: 60%;
  border-radius: 50%;
}

section-1 h4{
  margin-top: 10px;
  color: black;
  font-weight: 500;
  font: 1em sans-serif;
}

#banner{
  margin-top: 10px; 
}

#maha-sale .container{
  margin: 0;
}

#maha-sale .row .prod-img{
  display: inline-block;
  width: 33%;
  margin-left: 1px;
  margin-top: 5px;
}

#maha-sale .prod-img img{
  height: 80%;
  width: 100%;
}

#section-2{
  background-color: white;
  padding: 1% 0;
  margin-bottom: 1%;
}

#section-2 h2{

  margin-left: 2em;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.5em;

}

#section-2 h4{
  margin-top: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#section-2 .product {
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 20%;
  margin: 0 2%;
  border-radius: 2%;
  position: relative;
}
#section-2 .product img{
  height: 80%;
  width: 180px;
  margin-top: 10px;
}

h3{
  padding: 5px;
  font-weight: 300;
  font-size: 0.9em;
}